
<div class="content"  >
    <div class="header-container">
        <h1>Team Generator</h1>
    </div>
    
    <div class="input-container">
        <input type="number" class="input-field" [(ngModel)]="number_of_teams" placeholder="Number of Teams">
        <button class="btn generate-btn" (click)="generate_teams()">Generate Team</button>
    </div>
    <div class="team-row" *ngIf="error==false">
        <div *ngFor="let team of teams" class="team">
            <h2>Team Name: {{ team.team_name }}</h2>
            
        <table class="data-table">
            <tr>
                <th>Player Name</th>
                <th>Age</th>
                <th>Batting Rating</th>
                <th>Bowling Rating</th>
                <th>Keeper Rating</th>
            </tr>
            <tr *ngFor="let player of team.players">
                <td>{{ player.name }}</td>
                <td>{{ player.age }}</td>
                <td>{{ player.batting_rating }}</td>
                <td>{{ player.bowling_rating }}</td>
                <td>{{ player.wicket_keeper_rating }}</td>
            </tr>
                
                
            
            
        </table>
        <p>Batting Rating: {{ team.Rating_avg.batting }}</p>
            <p>Bowling Rating: {{ team.Rating_avg.bowling }}</p>
            <p>Total Team Rating: {{ team.Rating_avg.Team_overall }}</p>
        </div>
    </div>
    <div *ngIf="error==true">
        <h1 [ngStyle]="{'color':'red'}">{{error_show}}</h1>
    </div>
    
    
</div>

